.container{
	font-family: 'Montserrat Alternates', sans-serif;
	font-family: 'Rubik', sans-serif;
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.header{
	width: 960px;
	height: 100px;
	background: #6b7478;
	display: flex;
	flex-direction: row;
	border-radius: 5px;
}
.two1{
	display: flex;
	flex-direction: row;
	margin-top: 45px;
	margin-left: -700px;
	width: 900px;
	height: 40px;
}
.logo{
	width: 80px;
	height: 80px;
}
.block{
	height: 80px;
	width: 100px;
	display: flex;
	align-items: center;	
}
.nav_a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.nav_a:hover{
	color: #cfd9ce;
	text-decoration: underline;
	transition: 0.5s;
}
.two, .foto4, .five, .txt3{
	background: #cfd9ce;
	border-radius: 5px;
	width: 960px;
	text-align: center;
}
.one{
	height: 50px;
	text-align: center;
}
.two{
	height: 200px;
}
.three{
	border-radius: 5px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	margin-top: 10px;
}
.txt3{
	height: 50px;
	width: 49%;
	font-size:30px;
}
.four{
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
.foto4{
	height: 400px;
	width: 49%;
}
.five{
	height: 150px;
}
.footer{
	width: 100%;
	background: #6b7478;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	height: 100px;
	border-radius: 5px;
	font-size: 13px;
}
.pe{
	padding-left:15px;
	padding-right:15px;                
}
.bd{
	height:400px;
	width:100%;
}
.bp{
	height:400px;
	width:100%;
}
.visn{
	padding-right:15px;
	padding-left:15px; 
}
